{% extends "base.html" %}

{% block "title" %}Mano užsakymai{% endblock%}

{% block "content" %}
    <h1>Mano užsakymai</h1>

    {% if orders %}
    <ol>

      {% for order in orders %}
      <li class="{% if order.is_overdue %}text-danger{% endif %}">
          <p><span style="color:black;"> {{ order.vehicle.vehicle_model }} - <a href="{% url 'order' order.pk %}">{{ order.vehicle.plate }}.
          </a> {{ order.get_status_display }}
          </span>({{ order.due_back|date:"Y-m-d, f:m" }} val)</p>
      </li>
      {% endfor %}
    </ol>

    {% else %}
      <p>Šiuo metu jūs neturite užsakymų.</p>
    {% endif %}
{% endblock %}