{% extends "base.html" %}

{% block "title" %}Užsakymas{% endblock%}

{% block "content" %}
<h1>{{ order.title }}</h1>
<ul>
    <li><strong>Automobilis: </strong>{{ order.vehicle }}</li>
    <li><strong>Užsakymo data: </strong>{{ order.date }}</li>
    {% if order.status == 'i' %}
    <li><b>Užsakymo būsena: </b> <b class="text-success"> {{ order.get_status_display }} </b></li>
    {% elif order.status == 'a' %}
    <li><b>Užsakymo būsena: </b> <b class="text-danger"> {{ order.get_status_display }} </b></li>
    {% else %}
    <li><b>Užsakymo būsena: </b> <b class="text-warning"> {{ order.get_status_display }} </b></li>
    {% endif %}
</ul>
<hr>
<h2>Užsakymų eilutes:</h2>
<ul>
    {% for orderline in order.orderlines.all %}
    <li>{{ orderline.service}} ({{ orderline.service.price}} $) - {{ orderline.quantity}} vnt. = {{ orderline.sum}} $</li>
    {% endfor %}
</ul>
<hr>
<p><strong>Bendra suma: </strong>{{ order.total }} $</p>


{% endblock%}