{% extends "base.html" %}

{% block "title" %}Automobilis{% endblock%}

{% block "content" %}

<h1>Automobilis:</h1>

{% load static %}
{% if vehicle.cover %}
    <img src="{{ vehicle.cover.url }}" style="margin-bottom: 20px; max-width: 20%">
{% else %}
    <img src="{% static 'img/no-image.png' %}" class="card-img-top" style="width:200px;height:200px;">
{% endif %}

<ul>
    <li><strong>Savininkas: </strong>{{ vehicle.owner_name}}</li>
    <li><strong>Automobilio modelis: </strong>{{ vehicle.vehicle_model}}</li>
    <li><strong>Valstybinis numeris: </strong>{{ vehicle.plate}}</li>
    <li><strong>VIN kodas: </strong>{{ vehicle.vin}}</li>
    <li><strong>Automobilio aprašymas: </strong>{{ vehicle.description | safe }}</li>
</ul>
<hr>

{% endblock%}